#Copyright (c) 2016 by Cisco Systems, Inc. All rights reserved.
# coding: utf-8

"""
    API documentation for Account management service

    The service provides APIs for managing the accounts on Cisco IOT Software Platform

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
"""

from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class AccountWhitelistApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def get_entry_from_whitelist(self, email_address, **kwargs):
        """
        Retrieves an entry from the whitelist.
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_entry_from_whitelist(email_address, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str email_address: The email address of the entry to be retrieved from the whitelist (required)
        :return: WhitelistedEntry
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_entry_from_whitelist_with_http_info(email_address, **kwargs)
        else:
            (data) = self.get_entry_from_whitelist_with_http_info(email_address, **kwargs)
            return data

    def get_entry_from_whitelist_with_http_info(self, email_address, **kwargs):
        """
        Retrieves an entry from the whitelist.
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_entry_from_whitelist_with_http_info(email_address, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str email_address: The email address of the entry to be retrieved from the whitelist (required)
        :return: WhitelistedEntry
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['email_address']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_entry_from_whitelist" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'email_address' is set
        if ('email_address' not in params) or (params['email_address'] is None):
            raise ValueError("Missing the required parameter `email_address` when calling `get_entry_from_whitelist`")

        resource_path = '/v1/user-services/accounts/whitelist/{emailAddress}'.replace('{format}', 'json')
        path_params = {}
        if 'email_address' in params:
            path_params['emailAddress'] = params['email_address']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = ['tokenAuthScheme']

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='WhitelistedEntry',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))
